node_modules

# Output
.output
.vercel
/.svelte-kit
/.kiseki-books-old
/src/lib/bookmaker/books
# /build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
